<div id="notes"
     class="main-content h-100">
  <div class="note-wrap">
    <div class="note-box create-box"
         [ngClass]="{'focused': focused}">
      <div class="edit-box h-100">
        <div class="editable h-100 no-outline text-left"
             contenteditable="true"
             placeholder="New note..."
             (focus)="focused = true"
             (focusout)="focusOut($event.target);">
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid content"
       *ngIf="notes; else loading">
    <div class="row"
         *ngIf="notes.length; else emptyList">
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3"
           *ngFor="let note of notes">
        <app-note [note]=note></app-note>
      </div>
    </div>

    <ng-template #emptyList>
      <div *ngIf="!allNotesLength; else notfound"
           class="position-absolute absolute-center">
        <div class="boxed no-one-box">
          <div class="loader no-select text-center">Start by creating first one!</div>
        </div>
      </div>

      <ng-template #notfound>
        <div class="position-absolute absolute-center">
          <div class="boxed no-one-box">
            <div class="loader no-select text-center">No notes found</div>
          </div>
        </div>
      </ng-template>

    </ng-template>
  </div>

  <ng-template #loading>
    <div class="position-absolute absolute-center">
      <div class="boxed no-one-box">
        <div class="loader no-select text-center">Loading...</div>
      </div>
    </div>
  </ng-template>
</div>