<div class="home-background">
  <div class="content d-flex justify-content-center align-items-center">
    <div class="text-center">
      <p class="logo">
      </p>
      <h1 class="main-title">
        Get more done with Task Manager
      </h1>
      <div class="main-description">
        Simple and easy way to manage your daily tasks
      </div>
      <hr>
      <div class="">
        <div class="text-center m-3">
          <div class="login-container mx-auto">
            <div class="sing-text text-uppercase">Sign In</div>
            <div>
              <button class="app-btn primary facebook-login w-100" (click)="connectWithFacebook()">
                Connect with Facebook
              </button>
            </div>
            <div>
              <button class="app-btn primary google-login w-100" (click)="connectWithGoogle()">
                Connect with Google
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>