<div id="sidebar"
     class="boxed animated no-select d-flex flex-column"
     [ngClass]="menuCollapsed ? 'collapsed' : ''">
  <a class="nav-item"
     routerLink="/tasks"
     routerLinkActive="active">
    <i class="fa fa-clone"></i>
    Tasks
    <hr>
  </a>
  <a class="nav-item"
     routerLink="/completed"
     routerLinkActive="active">
    <i class="fa fa-check-square-o"></i>
    Completed
    <hr>
  </a>
  <a class="nav-item"
     routerLink="/trash"
     routerLinkActive="active">
    <i class="fa fa-trash-o"></i>
    Trash
    <hr>
  </a>
  <a class="nav-item"
     routerLink="/settings"
     routerLinkActive="active">
    <i class="fa fa-cogs"></i>
    Settings
    <hr>
  </a>
  <a class="nav-item"
     (click)="logout()">
    <i class="fa fa-sign-out"></i>
    Logout
    <hr>
  </a>
  <a class="nav-item"
     routerLink="/about"
     routerLinkActive="active">
    <i class="fa fa-smile-o"></i>
    About
    <hr>
  </a>
</div>