<div class="mobile-nav">
  <div class="nav-content d-flex d-md-none flex-column">
    <a class="nav-item" routerLink="notes" routerLinkActive="active" (click)="close()">
      Notes
    </a>
    <a class="nav-item" routerLink="trash" routerLinkActive="active" (click)="close()">
      Trash
    </a>
    <div class="nav-item d-flex align-items-center" (click)="close()">
      <div class="color-option col p-0 d-flex justify-content-around align-items-center">
        <div class="color pointer color-1" (click)="filterColor('color-1')"></div>
        <div class="color pointer color-2" (click)="filterColor('color-2')"></div>
        <div class="color pointer color-3" (click)="filterColor('color-3')"></div>
        <div class="color pointer color-4" (click)="filterColor('color-4')"></div>
        <div class="color pointer color-5" (click)="filterColor('color-5')"></div>
      </div>
      <div class="pointer" (click)="filterColor('')" [ngClass]="{'invisible': !(notesService.color$ | async)}">x</div>
    </div>
    <div class="nav-item d-flex align-items-center">
      <span class="user-name" *ngIf="user" [innerHTML]="user.displayName"></span>
      <img class="user-logo" [src]="user.photoURL" alt="Notes - User" *ngIf="user">
      <img class="logout pointer" src="/assets/img/logout-wt.png" (click)="close(actions.logout)" *ngIf="user">
    </div>
    <div class="menu-close" (click)="close()">x</div>
  </div>
</div>
