<div class="note-wrap position-relative" (mouseleave)="optionsDropdown.close()">
  <div class="options-container animated" ngClass={{note.color}}></div>
  <div class="options-container-left"></div>
  <div class="options position-absolute animated d-flex justify-content-around align-items-center">
    <div class="color-option col p-0 d-flex justify-content-around align-items-center">
      <div class="color pointer color-1" (click)="setColor('color-1')"></div>
      <div class="color pointer color-2" (click)="setColor('color-2')"></div>
      <div class="color pointer color-3" (click)="setColor('color-3')"></div>
      <div class="color pointer color-4" (click)="setColor('color-4')"></div>
      <div class="color pointer color-5" (click)="setColor('color-5')"></div>
    </div>
    <div ngbDropdown #optionsDropdown="ngbDropdown" placement="bottom-center" class="color-option option">
      <button class="btn p-0 no-outline h-100 border-0" ngbDropdownToggle>
        <div class="h-100 d-flex flex-column justify-content-around">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </button>
      <div ngbDropdownMenu class="border-0">
        <button class="dropdown-item" *ngIf="note.color" (click)="resetColor()">
          Reset color
        </button>
        <button class="dropdown-item" *ngIf="!note.trashed" (click)="moveToTrash()">
          Delete
        </button>
        <button class="dropdown-item" *ngIf="note.trashed" (click)="restore()">
          Restore
        </button>
        <button class="dropdown-item" *ngIf="note.trashed" (click)="delete()">
          Delete forever
        </button>
      </div>
    </div>
  </div>
  <div class="note-head position-relative"></div>
  <div class="note-box" [ngClass]="{'focused': focused}" [class]="note.color">
    <div class="edit-box h-100">
      <div class="editable h-100 no-outline text-left" contenteditable="true" placeholder="Note..."
        [innerHtml]="note.note" (focus)="focused = true" (focusout)="focusOut($event.target); focused = false">
      </div>
    </div>
  </div>
</div>
