<div id="completed-tasks"
     class="main-content h-100">
  <div class="container-fluid"
       *ngIf="completedTasks$ | async as completedTasks; else loading">
    <div class="row"
         *ngIf="completedTasks.length; else emptyList">
      <task class="col-12 col-sm-6 col-lg-4 col-xl-3 animated"
            *ngFor="let completedTask of completedTasks"
            [task]=completedTask></task>
    </div>

    <ng-template #emptyList>
      <div class="position-absolute absolute-center">
        <div class="boxed no-one-box">
          <div class="loader no-select text-center">There is no complete tasks yet</div>
        </div>
      </div>
    </ng-template>
  </div>

  <ng-template #loading>
    <div class="position-absolute absolute-center">
      <div class="boxed no-one-box">
        <div class="loader no-select text-center">Loading...</div>
      </div>
    </div>
  </ng-template>
</div>