<header class="boxed animated">
  <div class="d-flex flex-row flex-nowrap align-items-center justify-content-between">
    <div class="header-item d-flex flex-row flex-nowrap align-items-center">
      <div class="nested-item">
        <i class="icon animated pointer fa fa-ellipsis-h"
           [ngClass]="menuCollapsed ? 'collapsed' : ''"
           (click)="menuCollapsed = !menuCollapsed"></i>
      </div>
      <a class="nested-item"
         routerLink="/tasks">
        <i class="logo fa fa-list-alt"></i>
      </a>
      <a class="nested-item logo-title no-select"
         routerLink="/tasks">Task Manager</a>
    </div>

    <div class="header-item d-flex flex-row flex-nowrap align-items-center">
      <div class="nested-item search-container d-flex flex-row flex-nowrap align-items-center animated">
        <label for="search">
          <i class="fa fa-search"></i>
        </label>
        <input id="search"
               class="form-control"
               type="text"
               placeholder="Search">
      </div>
      <div class="nested-item">
        <i class="fa fa-square pointer teal"></i>
        <i class="fa fa-square pointer blue"></i>
        <i class="fa fa-square pointer deep-orange"></i>
        <i class="fa fa-square pointer amber"></i>
        <i class="fa fa-square pointer brown"></i>
      </div>
    </div>
    <div class="header-item d-flex flex-row flex-nowrap align-items-center">
      <span class="nested-item"
            *ngIf="user"
            [innerHTML]="user.displayName"></span>
      <img class="user-logo pointer"
           [src]="user.photoUrl"
           alt="Task Manager - User"
           *ngIf="user">
    </div>
  </div>
</header>