// common

$gray: #C6C2C2
$gray-2: #a09f9f
$font-color: #707070
$placeholder: #dedede
$color-1: #62ACB4
$color-2: #B1B264
$color-3: #F4B86D
$color-4: #E3B6B6
$color-5: #FC7042
$transition: .15s ease-in-out
$radius: 10px
$content-radius: 50px
$border: 2px solid $gray

body
  background-color: $gray
  color: $font-color

// .not-normal
//   transform: scale(1.3)

//   &.normal
//     transform: scale(1)

a
  color: $font-color
  text-transform: none
  text-decoration: none

  &:hover
    color: $font-color
    text-transform: none
    text-decoration: none

.boxed
  background-color: #fff
  border-radius: $radius 

.btn
  border-radius: $radius
  color: $gray

.app-btn
  width: 150px
  padding: 5px
  font-size: 12px
  border: 1px solid transparent
  border-radius: $radius
  transition: $transition
  outline: 0 !important
  user-select: none
  cursor: pointer

  &.primary
    margin-bottom: 10px
    height: 32px
    line-height: 15px
    color: rgba(255,255,255,.85)
    background-color: #6284f3
  
  i.fa
    float: left
    line-height: 15px 

  &.primary:hover
    background-color: #3e68f0

input::placeholder
  color: $placeholder !important

.animated
  transition: $transition
  
.pointer
  cursor: pointer

.no-select, img
  user-select: none

.no-outline
  outline: none

.absolute-center
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.color-1
  border-color: $color-1 !important

.color-2
  border-color: $color-2 !important

.color-3
  border-color: $color-3 !important

.color-4
  border-color: $color-4 !important

.color-5
  border-color: $color-5 !important

.dropdown
  button
    box-shadow: none !important
    color: $gray !important
    outline: none !important
    cursor: pointer

    &:active
      background-color: transparent !important

    &::after
      display: none

// pages

// login
.home-background
  height: 100vh
  background: url('assets/img/home-background.jpg') center center no-repeat
  background-size: contain
  background-color: #f7f8fa

  .content
    height: 100vh

    .login-logo
      font-size: 70px
      margin-bottom: 30px

    .main-title
      margin: 10px
      font-size: 50px

    .main-description
      margin: 30px
      font-size: 20px

    hr
      margin: 30px

    .login-container
      max-width: 300px
      padding: 15px
      border-radius: $radius
      box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)

      .sing-text
        margin-bottom: 15px
        font-size: 12px

.full-wrap
  height: 100vh
  padding: 10px

.wrap-border
  padding: 10px 10px 40px 10px
  border: 10px solid #fff
  border-radius: $content-radius

.wrap-content
  background-color: #fff
  border-radius: 35px
  overflow: hidden

.content
  max-height: calc(100vh - 260px)
  overflow-y: auto

// header
header
  height: 70px

  .head-link
    margin-left: 20px

  .head
    height: 50px
    margin: 0 10px
    background-color: $gray
    border-radius: 0 0 $content-radius $content-radius

  #search
    background: none !important
    border: none !important
    box-shadow: none
    color: #fff
    font-size: 22px
    letter-spacing: 2px
    
    &::placeholder
      color: #fff !important 

  .color-option
    max-width: 140px
    width: 140px

  .user-logo
    width: 35px
    height: 35px
    margin-left: 10px
    border-radius: 50%

  .logout
    width: 25px
    margin-left: 10px

.color-option
  height: 25px
  margin-right: 10px

  &:last-child 
    margin-right: 0

  .color
    width: 100%
    height: 25px
    border: 3px solid
    border-left: none
    border-right: none
    background-color: transparent

    &:first-child,
    &:last-child
      border: 3px solid
      border-radius: 7px

    &:first-child
      border-right: none
      border-top-right-radius: 0
      border-bottom-right-radius: 0

    &:last-child
      border-left: none
      border-top-left-radius: 0
      border-bottom-left-radius: 0

.task-wrap
  overflow: hidden

  .task-head
    height: 15px
    background: #fff

  .options-container
    position: absolute
    top: 5px
    left: 50%
    transform: translateX(-50%)
    height: 30px
    background: #fff
    border: $border
    border-top: none
    border-radius: 20px

  &:hover 
    .options-container,
      top: 5px

    .options
      top: 0

  .options
    top: -25px
    left: 50%
    padding: 0 10px
    transform: translateX(-50%)
    z-index: 200

    .dot
      width: 5px
      height: 5px
      background-color: $gray
      border-radius: 50%

    .dropdown-menu
      background: $gray

      .dropdown-item
        padding: 3px 10px
        color: #fff !important
        background-color: $gray !important

    .option-img
      width: 25px

  .options-container, .options
    width: 55%

  // .options-container-left
  //   position: absolute
  //   top: 10px
  //   width: 50px
  //   left: 24px
  //   height: 30px
  //   background: #fff
  //   border: 2px solid #C6C2C2
  //   border-radius: 7px
  //   border-bottom-color: #fff
  //   border-left: none
  //   border-top-left-radius: 0

  .task-box
    height: 135px
    margin-bottom: 10px
    padding-top: 10px
    padding-bottom: 10px
    border: $border
    border-radius: 22px

    .edit-box
      padding: 0 10px 10px 10px
      overflow: auto

    &.focused

    .editable
      padding: 10px
      cursor: text

      &:empty:before
        content: attr(placeholder)
        display: block
        color: $placeholder

    &.create-box
      width: 300px
      height: 70px
      margin: 10px auto 20px auto

#footer
  position: fixed
  bottom: 20px
  left: 30px
  right: 30px
  height: 40px
  color: $gray-2

  .line-footer
    width: 50%
    height: 10px
    background: #fff
    border-radius: 20px

  .social
    opacity: 0.3
    width: 22px
    height: 22px
    margin-right: 20px

    &:hover
      opacity: 1

// media

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px)
  .home-background .content .main-title
    font-size: 30px

  .home-background .content .login-logo
    font-size: 50px
    margin-bottom: 0

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767.98px)

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991.98px)

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199.98px)

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px)