
// common

$header-height: 60px
$offset: 14px
$sidebar-width: 250px
$box-shadow: 0 0px 1px rgba(0, 0, 0, 0.16), 0 0px 2px rgba(0, 0, 0, 0.23)
$box-shadow-focused: 0 0px 10px rgba(0, 0, 0, 0.16), 0 1px 10px rgba(0, 0, 0, 0.23)
$background-gray: #f8f9fb
$gray: #6d7e8e
$placeholder: #afafaf
$teal: #009688
$blue: #2196f3
$deep-orange: #ff5722
$amber: #ffc107
$brown: #795548
$transition: .15s ease-in-out
$radius: 10px
$font: 20px

body
  background-color: $background-gray
  color: $gray

a
  color: $gray
  text-transform: none
  text-decoration: none

  &:hover
    color: $gray
    text-transform: none
    text-decoration: none

.boxed
  background-color: #fff
  box-shadow: $box-shadow
  border-radius: $radius

.app-btn
  width: 150px
  padding: 5px
  font-size: 12px
  border: 1px solid transparent
  border-radius: $radius
  transition: $transition
  outline: 0 !important
  user-select: none
  cursor: pointer

  &.primary
    margin-bottom: 10px
    height: 32px
    line-height: 15px
    color: rgba(255,255,255,.85)
    background-color: #6284f3
  
  i.fa
    float: left
    line-height: 15px 

  &.primary:hover
    background-color: #3e68f0

input::placeholder
  color: $placeholder !important

.animated
  transition: $transition
  
.pointer
  cursor: pointer

.no-select, img
  user-select: none

.no-outline
  outline: none

.absolute-center
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

.teal
  color: $teal
  background-color: $teal

.blue
  color: $blue
  background-color: $blue

.deep-orange
  color: $deep-orange
  background-color: $deep-orange

.amber
  color: $amber
  background-color: $amber

.amber
  color: $amber
  background-color: $amber

.brown
  color: $brown
  background-color: $brown

// pages

// login
.home-background
  height: 100vh
  background: url('assets/img/home-background.jpg') center center no-repeat
  background-size: contain
  background-color: #f7f8fa

  .content
    height: 100vh

    .login-logo
      font-size: 70px
      margin-bottom: 30px

    .main-title
      margin: 10px
      font-size: 50px

    .main-description
      margin: 30px
      font-size: $font

    hr
      margin: 30px

    .login-container
      max-width: 300px
      padding: $offset
      border-radius: $radius
      box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)

      .sing-text
        margin-bottom: $offset
        font-size: 12px

// header
header
  position: fixed
  top: $offset
  right: $offset
  left: $offset
  height: $header-height

  .header-item
    margin-left: 10px
    margin-right: 10px

    &:first-child
      margin-left: $offset

    &:last-child
      margin-right: $offset

    .nested-item
      margin-left: 10px
      margin-right: 10px

      &:first-child
        margin-left: 0

      &:last-child
        margin-right: 0

  .icon
    font-size: 25px
    line-height: $header-height

    &.collapsed
      transform: rotate(90deg)

  .logo
    font-size: 40px

  .logo-title
    font-size: $font
    text-shadow: 0 1px 1px #c1bfbf
    white-space: nowrap

  .search-container
    border: 1px solid #ced4da
    border-radius: $radius
    
    &:focus-within
      box-shadow: $box-shadow

    label
      margin: 0

      i
        padding: 10px
        font-size: 18px

    input
      border: 0 !important
      border-radius: $radius
      box-shadow: none !important

  .fa-square
    margin: 0 5px
    font-size: $font

  .user-logo
    width: 35px
    height: 35px
    border-radius: 50%

// sidebar
#sidebar
  position: fixed
  top: ($header-height + $offset * 2)
  bottom: $offset
  left: $offset
  width: $sidebar-width
  padding-top: 10px
  overflow-y: auto

  &.collapsed
    transform: translateX(-100%)

  .nav-item
    padding: 5px 0
    cursor: pointer

    &:hover,
    &.active
      font-weight: bold
  
    .fa
      margin: 0 $offset

    .fa-sign-out
      transform: rotate(180deg)

    hr
      margin: 10px $offset 0px $offset

// home-content

#home-content
  position: fixed
  top: ($header-height + $offset * 2)
  right: $offset
  bottom: $offset
  left: ($sidebar-width + $offset * 2)

// components shared

.task-box
  max-height: 150px
  transition: $transition

  &.focused
    box-shadow: $box-shadow-focused

  .editable
    padding: 10px
    cursor: text

    &:empty:before
      content: attr(placeholder)
      display: block
      color: $placeholder

.main-content
  overflow-y: auto
  padding: $offset 0

  .container-fluid
    padding-left: 7px
    padding-right: 7px

    .row
      margin: 0

  .no-one-box
    padding: 30px

  .loader
    color: #adacac;
    font-size: 30px

// tasks

#tasks
  padding: $offset 0

  .create-box
    max-width: 300px
    margin: 0 auto
    padding: 0 14px

task
  margin-top: $offset
  padding: 0 7px !important

  button
    box-shadow: none !important
    color: $gray !important
    outline: none !important
    cursor: pointer

    &:active
      background-color: transparent !important
  
  .task-box
    height: 141px
    padding-top: 10px

    .edit-box
      height: 90px
      overflow-y: auto 

      .editable
        padding: 0 10px
        color: $gray

    hr
      margin: 10px 10px 0

    .options-box
      justify-content: space-evenly
      
      .options-icon
        transform: rotate(90deg)

      i
        font-size: $font
        margin: 0 5px

      button
        border: none
        color: $gray
        font-size: $font
        background: transparent

        &::after
          display: none


// media

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px)
  .home-background .content .main-title
    font-size: 30px

  .home-background .content .login-logo
    font-size: 50px
    margin-bottom: 0

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767.98px)

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991.98px)

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199.98px)

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px)